{{ if not .Title }}
<a
class="hover:underline hover:underline-primary-500 hover:underline-offset-small text-neutral-800 dark:text-neutral"
href="{{ .RelPermalink }}"
>
  <time datetime="{{ .Date }}">
    {{- .Date.Format .Site.Params.article.dateFormat | default "2 January 2006" -}}
  </time>
</a>
{{ else }}
<time datetime="{{ .Date }}">
  {{- .Date.Format .Site.Params.article.dateFormat | default "2 January 2006" -}}
</time>
{{ end }}
{{ if .Params.showDateUpdated | default (.Site.Params.article.showDateUpdated | default false) }}
  &nbsp;(Updated:&nbsp;
  <time datetime="{{ .Lastmod }}">
    {{- .Lastmod.Format .Site.Params.article.dateFormat | default "2 January 2006" -}}
  </time>
  )
{{ end }}
{{- /* Trim EOF */ -}}