{{ define "main" }}
  {{ partial "section-header.html" . }}
  {{ if gt .Pages 0 }}
  <section id="main">
    <div class="prose dark:prose-light">
    {{ range .Data.Pages.GroupByDate "2006" }}
    <h2 class="mb-3 text-3xl font-extrabold text-neutral-800">{{ .Key }}</h2>
        <ul id="list">
        {{ range .Pages }}
            {{ partial "article-link.html" . }}
        {{ end }}
        </ul>
    {{ end }}
    </div>
  </section>
  {{ else }}
    <section class="mt-10 prose dark:prose-light">
      <p class="py-8 border-t">
        <em>{{ i18n "list.no_articles" | emojify }}</em>
      </p>
    </section>
  {{ end }}
{{ end }}
