{{ define "main" }}
  <article class="max-w-prose">
    <header>
      {{ if .Site.Params.article.showBreadcrumbs | default false }}
        {{ partial "breadcrumbs.html" . }}
      {{ end }}
      <h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral">
        {{ .Title | emojify }}
      </h1>
      {{ partial "article-pagination.html" . }}
    </header>
    <section class="print prose dark:prose-light">
      {{ if .Params.image }}
      <figure>
        <img src="{{ .Params.image }}"
             alt="{{ .Title | emojify }}">
        <figcaption>{{ .Title }}, {{ .Params.year }}; {{ .Params.dimensions }} {{ .Params.medium }}</figcaption>
      </figure>
      {{ end }}
      {{ partial "gallery.html" . }}
      {{ .Content | emojify }}
    </section>
    {{ with .Params.series }}
      <p>Part of the series
        {{- range . }} <a href="{{ "series/" | absURL}}{{ . | urlize }}">{{ . }}</a>
        {{- end }}.
      </p>
    {{ end }}
    <div class="mt-8 mb-12 text-base text-neutral-500 dark:text-neutral-400">
      {{ partial "article-meta.html" (dict "context" . "scope" "single") }}
    </div>

    <footer class="pt-8">
      {{ partial "author.html" . }}
      {{ partial "sharing-links.html" . }}
    </footer>
    {{ if templates.Exists "partials/comments.html" }}
      {{ partial "comments.html" . }}
    {{ end }}
  </article>
{{ end }}
