.gallery-container {
    display: inline-block;
    width: 100%;
}

.gallery {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  height: 155px;
  width: 155px;
}

.gallery a {
    padding: 1em;
}