{{- if not ($.Page.Scratch.Get "figurecount") }}<link rel="stylesheet" href="/photoswipe/photoswipe.css"/>{{ end }}
{{- $.Page.Scratch.Add "figurecount" 1 }}
{{ $baseURL := .Site.BaseURL }}
{{ $dir := print "content/" $.Page.File.Dir }}

<div class="gallery-container">
<div id="gallery" class="gallery">
	{{- $files := readDir $dir }}
	{{- range $files -}}
		{{- $isthumb := .Name | findRE ("-\\d+x\\d+" | printf "%s\\.") }}
		{{- $isimg := lower .Name | findRE "\\.(gif|jpg|jpeg|tiff|png|bmp)" }}
		{{- if and $isimg (not $isthumb) (not (eq .Name $.Page.Params.image))}}
			{{- $linkURL := print $.Page.Permalink .Name | absURL }}
			<a href="{{ $linkURL }}"
				data-pswp-width="1669"
				data-pswp-height="2500"
				data-cropped="true"
				target="_blank">
			<img src="{{ $linkURL }}" alt="" />
		  </a>
		{{- end }}
	{{- end }}
</div>
</div>
<script type="module">
    import PhotoSwipeLightbox from '/photoswipe/photoswipe-lightbox.esm.js';

    const lightbox = new PhotoSwipeLightbox({
      gallery: '#gallery',
      children: 'a',
      pswpModule: () => import('/photoswipe/photoswipe.esm.js')
    });
	console.log("INIT")
    lightbox.init();
</script>